body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color:#fefef3;
}
table {
  background-color:white !important;
  margin-bottom: 0rem !important;
}
.btn-forest {
  color: #fff;
  background-color: #396f57;
  border-color: #396f57;
}
.btn-forest:hover {
  background-color:#60BB93;
  border-color:#60BB93;
}
.container > .card {
  margin:0rem;
}
.App { 
  margin: none;
}
.App > .row > .body-content > svg {
  font-size: 1.75rem;
  color:brown;
  float:right;
}
.App > .row > .body-content > svg:hover {
  cursor: pointer;
  color:chocolate;
}
.App > .row > .body-content > .card {
  box-shadow: 0px 1px 15px #e1dc9b;
  border-radius:10px;
}
.App > .row > .body-content > .card > .card-image-top {
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}
.App > .row > .body-content > .card > h1, h2 {
  font-weight: 900;
  color: #396f57;
}
.AddGuest {
  padding: 3rem;
  padding-top: 0rem;
  padding-bottom:0rem;
}
.AddGuest > form {
  width: 30rem;
  padding:2rem;
}
.AddGuest > form > label  {
  margin-bottom:1rem;
  display:block
}
#ModalLoginForm {
  padding:2rem;
}
.LoveStoryVideo, .PhotoGallery{
  padding:3rem;
}
.LoveStoryVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1rem;
}
.image-gallery {
  margin-left: 1rem;
  margin-right: 1rem;
}
.slider-image { 
  width:400px;
  max-height:400px;
}
.save-the-date-title {
  position:relative;
  top: -4rem;
  text-shadow: 3px 2px 3px black;
  color: white !important;
  font-weight: normal !important;
}
.final-fold-message {
  font-family: 'Playfair Display', serif;
}
.save-the-date-title > em > small {
  font-size: 70%;
  color: #FFF9E5;
}
.SelectionGrid {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.cell {
  width: 50%;
  height:auto;
}
.cell:hover, .cell:focus {
  border-color: rgba(0,0,0,0.2);
  border-width: 15px;
  cursor: pointer;
}

.cell-image {
  max-width:50%;
}
.cell-content {
  width: 50%;
  text-align: center;
  margin-top: 7em;
}
.cell-content h3 {
  color: #396f57;
  font-weight: 800;
}
.cell > a > .cell-content >  p {
  color: black;
  font-family: 'Playfair Display', serif;
}
.cell-1 > a > .cell-image, .cell-2 > a > .cell-image, .cell-1 > a >.cell-content, .cell-2 > a > .cell-content {
  float:left;
}
.cell-3 > a >.cell-image, .cell-4 > a >.cell-image, .cell-3 > a > .cell-content, .cell-4 > a > .cell-content {
  float:right;
}
.cell-5 > a > .cell-image, .cell-6 > a > .cell-image, .cell-5 > a > .cell-content, .cell-6 > a > .cell-content {
  float:left;
}

.shadow {
  box-shadow:0 0 0 10px rgba(0,0,0,0.5) inset;
  cursor: pointer;
}


@media (min-width: 992px) {
  .offset-lg-1 {
    margin-left: 10.333333%;
  }
  .App { 
    margin-top: 2rem;
    margin-bottom: 2rem;
  } 
}

@media (max-width: 992px) {
  .App > .icon-border > svg {
   display:none;
 }
}
