body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color:#fefef3;
}
table {
  background-color:white !important;
  margin-bottom: 0rem !important;
}
.btn-forest {
  color: #fff;
  background-color: #396f57;
  border-color: #396f57;
}
.btn-forest:hover {
  background-color:#60BB93;
  border-color:#60BB93;
}
.container > .card {
  margin:0rem;
}
.App { 
  margin: none;
}
.App > .row > .body-content > .card > svg {
  font-size: 1.75rem;
  color:brown;
  float:right;
}
.App > .row > .body-content > .card > svg:hover {
  cursor: pointer;
  color:chocolate;
}
.App > .row > .body-content > .card {
  box-shadow: 0px 1px 15px #e1dc9b;
  border-radius:10px;
}
.App > .row > .body-content > .card > .card-image-top {
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}
.App > .row > .body-content > .card > h1, h2 {
  font-weight: 900;
  color: #396f57;
}
.AddGuest {
  padding: 3rem;
  padding-top: 0rem;
}
.AddGuest > form {
  width: 30rem;
  padding:2rem;
}
.AddGuest > form > label  {
  margin-bottom:1rem;
  display:block
}
#ModalLoginForm {
  padding:2rem;
}
.LoveStoryVideo, .PhotoGallery{
  padding:3rem;
}
.LoveStoryVideo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery {
  margin-left: 1rem;
  margin-right: 1rem;
}
.slider-image { 
  width:400px;
  max-height:400px;
}
.save-the-date-title {
  position:relative;
  top: -4rem;
  text-shadow: 3px 2px 3px black;
  color: white !important;
  font-weight: normal !important;
}
.save-the-date-title > em > small {
  font-size: 70%;
  color: #FFF9E5;
}

@media (min-width: 992px) {
  .offset-lg-1 {
    margin-left: 10.333333%;
  }
  .App { 
    margin-top: 2rem;
    margin-bottom: 2rem;
  } 
}

@media (max-width: 992px) {
  .App > .icon-border > svg {
   display:none;
 }
}
