.link-text {
	color:blue;
	text-decoration: underline;
}
.link-text:hover{
	cursor: pointer;
}
.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}