
.SelectionGrid {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.cell {
  width: 49%;
  height:auto;
  margin:5px;
  transition: border .4s ease;
  border: .2px solid #e9e9e9;
}
.cell:hover, .cell:focus {
  border: 10px solid #396f57;
  cursor: pointer;
}

.cell-image {
  max-width:50%;
}
.cell-content {
  width: 50%;
  text-align: center;
  margin-top: 8em;
}
.cell-content h3 {
  color: #396f57;
  font-weight: 800;
}
.cell > a > .cell-content >  p {
  color: black;
  font-family: 'Playfair Display', serif;
}
.cell-1 > a > .cell-image, .cell-2 > a > .cell-image, .cell-1 > a >.cell-content, .cell-2 > a > .cell-content {
  float:left;
}
.cell-3 > a >.cell-image, .cell-4 > a >.cell-image, .cell-3 > a > .cell-content, .cell-4 > a > .cell-content {
  float:right;
}
.cell-5 > a > .cell-image, .cell-6 > a > .cell-image, .cell-5 > a > .cell-content, .cell-6 > a > .cell-content {
  float:left;
}
.shadow {
  box-shadow:0 0 0 10px rgba(0,0,0,0.5) inset;
  cursor: pointer;
}
/** Mobile **/
@media (min-width:200px) and (max-width:466px){
 .cell {
   width: 100%;
 }
 .cell-content {
   margin-top: 3em;
 }
}
@media (min-width:466px) and (max-width:575px) {
 .cell-content {
   margin-top: 5em;
 }
 .cell {
   width: 100%;
 }
}
@media (min-width: 575px) and (max-width:768px) {
  .cell {
   width: 100%;
 }
}
@media (min-width:768px) and (max-width:992px) {
  .cell-content {
    margin-top: 3em;
  }
}
@media (min-width:992px) and (max-width:1200px) {
  .cell-content{
    margin-top:5em;
  }
}
@media (min-width:768px) and (max-width: 1200px) {
  .cell {
   width: 48%;
 }
}

